<% provide(:title, 'About Me') %>
<div class="center jumbotron">
	<h1>About Me</h1>
	<h2>
		My name is Caleb Hopper.
		I am currently a junior in the Magazine School District.
		I am working on improving my web development skills, and figured why not supplement expenses while I'm working on it?
	</h2>
	<%= link_to "Pricing", pricing_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Contact Me", contact_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Future Plans", plans_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Home", root_url, class: "btn btn-lg btn-primary" %>
</div>